<section>
  <div class="container">
    <%= render partial: 'shared/inventory', collection: @inventories %>
    <%= link_to 'Create New Inventory', new_inventory_path, class: "btn btn-success mt-5"%>
  </div>
<section>