<div class="container">
  <h1>Create new Inventory</h1>
  <%= bootstrap_form_with model: inventory do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.submit %>
  <% end %>
</div>