<p style="color: green"><%= notice %></p>


<div class="recipe-list">
  <div>
    <%= link_to "New Recipe", new_recipe_path, class:"no-underline hover:underline text-purple-700 text-lg" %>
  </div>
  <ul class="border-2 border-gray-600">
    <% if @recipes&.empty? %>
      <p>No recipes to show!</p>
      <%else%>
      <% @recipes&.each do |recipe| %>
        <%= render recipe %>
         <p>
          <%= link_to "Show this recipe", recipe %>
        </p>
      <% end %>
    <%end%>
  </ul>
</div>

