<div class="container">
  <h1>Public Recipes</h1>
  <%= @public_recipes.each do |public_recipe|%>
  <table class="table table-borderless">
    <tr class="row">
      <td><%= public_recipe.name%></td>
      <td><%= public_recipe.description %></td>
    </tr>
    <tr class="row">
      <td>By <%= public_recipe.user %></td>      
    </tr>
  </table>
</div>