<div class="card mt-3">
  <div class="card-body d-flex">
    <div class="col-3">
      <h3 class="card-title">
        <%= link_to "#{inventory.name}", inventory_path(inventory) %>
      </h3>
      <% if can? :destroy, inventory %>
        <%= button_to "Remove", inventory_path(inventory), method: :delete, data: { turbo: false }, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-9">
      <p class="card-text"><%= inventory.description %></p>
    </div>
  </div>
</div>