<h1 class="edit-food-btn">Editing food</h1>

<%= render "form", food: @food %>

<br>

<div class="show-back-btn">
  <%= link_to "Show this food", @food, :style=>'margin-left: 10vw;' %> |
  <%= link_to "Back to foods", foods_path %>
</div>
